@import "tailwindcss";

@theme {
  --font-zen-maru-gothic: 'Zen Maru Gothic', sans-serif;
  --font-shippori-mincho-b1: 'Shippori Mincho B1', serif;

  --color-brand: #FF7D6D;
  --color-brand-text: #5f5f5f;

}
